#main {
  width: 1280px;
  height: 800px;
  margin: auto;
}
#main #switcher {
  margin: 10px auto 20px auto;
  width: 700px;
}
#main #switcher button#go {
  margin-left: 100px;
}
#main #chart {
  width: 1024px;
  height: 600px;
  padding: 0;
  margin: auto;
}
