doctype html
head
    block title
        title hello
    link(href="/static/css/libs/semantic.min.css" rel="stylesheet")
    link(href="/static/css/index.css" rel="stylesheet")
    script(src="/static/js/libs/jquery.min.js")
    script(src="/static/js/libs/lodash.min.js")
    //script(src="/static/js/libs/semantic.js")
    block myscript

body
    block body
