extends _base

block title
    title 我们去哪儿

block myscript
    script(src="/static/js/libs/echarts.min.js")
    script(src="/static/js/libs/china.js")

    script(src="/static/js/index.js")

block body
    #main
        .container
            #switcher
                .ui.basic.buttons.city-selector
                    .ui.button#china_city 中国城市
                    .ui.button#old_city 古城
                    .ui.button#unusual_city 冷门
                //button.ui.active.button#high-rail 高铁沿线

                button.ui.disabled.primary.icon.button#go
                    i.play.icon


        #chart

