extends _base

block title
    title 我们去哪儿

block myscript
    script(src="/static/js/libs/echarts.min.js")
    script(src="/static/js/libs/china.js")

    script(src="/static/js/index.js")

block body
    #main
        #chart

