extends _base

block title
    title 我们去哪儿

block myscript
    script(src="/static/js/libs/echarts.min.js")
    script(src="/static/js/libs/china.js")

    script(src="/static/js/index.js")

block body
    #main
        .container
            #switcher
                button.ui.active.button#china-city 中国城市
                button.ui.active.button#old-city 古城
                button.ui.active.button#unusual 冷门
                //button.ui.active.button#high-rail 高铁沿线

                button.ui.disabled.primary.icon.button#go
                    i.play.icon


        #chart

